- form_tag("/send_newsletter", :method => "post") do
  %input{:type => "submit", :value => "Send Newsletter Email"}
  %br
  %textarea{:rows => "40", :cols => "100", :name => "body"}
    .section{ :style => "margin: 10px" }
      .section_header{ :style => "margin: 10px; font-weight: 900; font-size:20px; font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif;" }
        The Collexion Newsletter - 
        = Date.today.to_s(:db)
    .section{ :style => "margin: 10px" }
      .section_header{ :style => "margin: 10px; font-weight: 900;" }
        EVENTS
      .section_content{ :style => "margin: 5px" }
        - @events.each do |event|
          .item{ :style => "margin: 10px" }
            .title{ :style => "font-weight: 900;" }= event.title
            = event.time_string + " <br/> " if event.time_string
            = "@ " + event.location.title + " (" + event.location.address + ")" if event.location
            %br
            = event.description
      .section_header{ :style => "margin: 10px; font-weight: 900;" }
        Coming Soon:
      .section_content{ :style => "margin: 5px" }
        - @coming_events.each do |event|
          .item{ :style => "margin: 5px" }
            = event.title
            = "@ " + event.location.title + " (" + event.location.address + ")" if event.location
            = " - " + event.time_string if event.time_string
    - unless @announcements.count.zero?
      .section{ :style => "margin: 10px" }
        .section_header{ :style => "margin: 10px; font-weight: 900;" }
          ANNOUNCEMENTS
        .section_content{ :style => "margin: 5px" }
          - @announcements.each_with_index do |announcement, i|
            .item{ :style => "margin: 10px" }
              = (i + 1).to_s + ") " + announcement.title
              %br
              = announcement.description
    - unless @hacks.count.zero?
      .section{ :style => "margin: 10px" }
        .section_header{ :style => "margin: 10px; font-weight: 900;" }
          HACKS OF THE WEEK
        .section_content{ :style => "margin: 5px" }
          - @hacks.each do |hack|
            .item{ :style => "margin: 10px" }
              = hack.title
              %br
              = hack.description
    - unless @resources.count.zero?
      .section{ :style => "margin: 10px" }
        .section_header{ :style => "margin: 10px; font-weight: 900;" }
          RESOURCES
        .section_content{ :style => "margin: 5px" }
          - @resources.each do |resource|
            .item{ :style => "margin: 5px" }
              = resource.title + ": " + resource.link
              = " - " + resource.description if resource.description
    .section{ :style => "margin: 10px" }
      .section_header{ :style => "margin: 10px; font-weight: 900;" }
        QUESTIONS/COMMENTS/SUBMISSIONS
      .section_content
        .item{ :style => "margin: 5px" }
          Have an announcement, event, idea, or hack to submit for the next newsletter? Email nick@nwarner.com