!!! 5
%html
%head
  %title= controller.action_name
  = stylesheet_link_tag 'style'
  %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  %script{ :src => "http://www.google.com/jsapi", :type => "text/javascript"}
  %script{ :type => "text/javascript"}  
    google.load("jquery", "1.3.2"); 
  = javascript_include_tag "jquery-ui-1.7.2.custom.min", "timepicker", "application",  :cache => 'cache'   
%body
  .page
    %p{:style => "color: green"}= flash[:notice]
    = render "layouts/nav"
    = yield